<div class="row mainContent">
    <nav class="top-nav grey darken-2 mainContent col s12">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
        </a>
        <div class="pageTitle">{{title}}</div>
    </nav>

    <div class="col s12">
        <div id="{{state}}">
            {{#switch state}} {{#case 'newExpense'}}
            <div id="{{state}}">
            </div>
            {{/case}} {{#case 'expenseMove'}}
            <div id="{{state}}">
            </div>
            {{/case}} {{#case 'expenseForcast'}}
            <div id="{{state}}">
            </div>
            {{/case}} {{/switch}}
        </div>
    </div>
</div>